.footer {
    //margin: 0 auto;
    width: 100%;
    background-color: rgb(240, 239, 239);
    
    // footer styles - small contact form
    &__content-top {
        margin: 30px auto;
    }
    &-block {
        &__contact_form {
        padding: 20px 0;
        }
        &__heading {
            color: white;
            font-size: 4rem;
            line-height: 10px;
            margin-top: 0.5em;
            font-weight: 700;
            text-shadow: 4px 2px lightgrey;
        }
    }
    &-contact__fields {
        display: flex;
        justify-content: space-between;
        padding-bottom: min(2%,10px);

        .field {
            width: 49%;
        }
    }

    .field {
        background: white;
        border-radius: 12px;

        label {
            color: darkgrey;
            text-transform: lowercase;
        }
        input, textarea {
            color: rgb(150, 150, 150);
        }
    }
    .contact__button {
        padding: min(5%,30px) 0;
        

        button {
           background: var(--logo-color);
           text-transform: lowercase;
           font-size: 2rem; 
           color: white;
           font-weight: 700;
           border-radius: 12px;
           width: 100%;
        }
    }

    .form{
        &__message {
        align-items: center;
        display: flex;
        font-size: 1.6rem;
        line-height: 1;
        margin-top: 1rem;
        }
        &-status-list {
            padding: 0;
            margin: 2rem 0 2rem;
        }     
    }


    //copyright styles
    &__content-bottom {
        display: flex;
        background-color: white;
            &-wrapper {
                margin: 10px auto;
            }        
    }
    &__copyright {
        font-size: 1.2rem;
        color: darkgray;

        .copyright__content a {
            text-decoration: none;
            color: darkgray;
        }
    }


}


   
  

