
.demo-color-toggle {
    z-index: 165;
    display: -ms-flexbox;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.demo-color-toggle > span {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    width: 36px;
    height: 36px;
    padding: 4px;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: .5px;
    cursor: pointer;
    transition: .2s;
}

@media (min-width: 990px){

.mobile {
    display: none;
}

}

@media (max-width: 990px){

    .desktop {
        display: none;
    }
    
    }
