:root {
    --body-background: rgb(39, 39, 39);
    --header-background-color-70: rgba(39, 39, 39, 0.92);
    --header-accent-color: rgb(230, 230, 230);
    --menu-drawer-background: rgb(39, 39, 39);
    --menu-drawer-cell-background: rgb(56, 56, 56);
    // footer colors
    --accent-color: rgb(1, 161, 140);
    --accent-font-color: rgb(255, 255, 255);
    --accent-color-hover: rgb(0, 201, 174);
    --footer-background: rgb(66, 66, 66);
    --footer-heading__fields: rgb(109, 109, 109);
    --footer-light-text-tshadow:rgb(75, 75, 75);
    --footer-text: rgb(255, 255, 255);
    --footer-labels: rgb(231, 231, 231);
    --footer-copy-background:rgb(66, 66, 66);
    --footer-copy-text:rgb(230, 230, 230);
}
body.dark-mode{
    background: url('/assets/pattern-tile-dark.svg'), var(--body-background);
}

